name: CI

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup mise
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: npm ci

      - name: Run CI
        run: npm run ci
